/* Specific CSS for about page */

h1 {
  font-size: 8vmin;
}

h2 {
  font-size: 6vmin;
  font-weight: 800;
  margin-top: 1.25rem;
  text-align: center;
}

.main-about {
  /* border: 2px solid salmon; */
  width: 100%;
}

.headshot-about {
  margin-top: 2rem;
}

.CTA-about {
  margin-top: 2rem;
}

.left-about {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-about {
  /* border: 2px solid blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.right-about p {
  font-size: 3.5vmin;
}

.links-about {
  margin-top: 40px;
  top: 0;
}

.secondary {
  /* border: 2px solid teal; */
  width: 100%;
}

.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.skills ul {
  margin-top: 1rem;
}

.skills li {
  color: black;
  font-weight: bold;
  line-height: 3;
  font-size: 1rem;
}

.skills li img {
  position: relative;
  width: 3rem;
  height: 3rem;
  top: 14px;
  right: 10px;
}

footer {
  position: relative;
}

/* Media Queries */

/*768px*/
@media (min-width: 48rem) {
  .main-about {
    margin-top: 50px;
  }

  .right-about p {
    font-size: 3vmin;
  }
}

/*1024px*/
@media (min-width: 64rem) {
  h2 {
    font-size: 3vmin;
    font-weight: 800;
    margin-top: 1.25rem;
    text-align: center;
  }

  .main-about .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .headshot {
    height: 250px;
    width: 250px;
  }

  .CTA-about {
    margin: 0;
  }

  .left-about h1 {
    font-size: 60px;
    white-space: nowrap;
  }

  .right-about {
    justify-content: space-between;
    padding: 0;
    margin: 10px 0 0 0;

    max-width: 600px;
  }
  .right-about p {
    font-size: 18px;
  }

  .links-about {
    margin: 0;
    order: -1;
  }

  .skills {
    margin-top: 50px;
  }
  .skills li {
    display: inline-block;
  }

  .skills li:not(:first-of-type) {
    margin-left: 65px;
  }
}

/*1392px*/
@media (min-width: 87rem) {
  h2 {
    font-size: 32px;
  }

  footer {
    margin-top: 0;
  }

  .main-about .container {
    justify-content: space-between;
  }

  .left-about {
    margin-left: 2.5rem;
  }

  .right-about {
    margin-right: 2.5rem;
  }

  .info .container {
    margin-top: 75px;
  }

  .headshot {
    margin-top: 20px;
    right: 0;
    left: 0;
  }

  .links li:not(:first-of-type) {
    margin-left: 120px;
  }

  .right-about {
    max-width: 875px;
  }

  .right-about p {
    margin-top: 50px;
    font-size: 22px;
  }

  .info-robot {
    top: -150px;
    left: -400px;
  }
}
