/* Specific CSS for about page */

h1 {
  font-size: 8vmin;
}

h2 {
  font-size: 6vmin;
  font-weight: 800;
  margin-top: 1.25rem;
  text-align: center;
}

.headshot-about {
  margin-top: 2rem;
}

.CTA-about {
  margin-top: 2rem;
}

.left-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.right-about p {
  font-size: 3.5vmin;
}

.links-about {
  margin-top: 2.5rem;
}

.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.skills ul {
  margin-top: 1rem;
}

.skills li {
  color: black;
  font-weight: bold;
  line-height: 3;
  font-size: 1rem;
}

.skills li img {
  position: relative;
  width: 3rem;
  height: 3rem;
  top: 14px;
  right: 10px;
}

.zig-zag-container {
  margin-top: 20px;
}

footer {
  position: relative;
}

@media (min-width: 48rem) {
  .right-about p {
    font-size: 3vmin;
  }
}

@media (min-width: 64rem) {
  .links ul {
    margin-top: 2rem;
  }

  .links ul li {
    display: inline-block;
    margin-left: 75px;
  }
  .right-about p {
    font-size: 2.5vmin;
  }

  .skills {
    margin-top: 50px;
  }

  .skills li {
    display: inline-block;
    margin-left: 75px;
  }

  h2 {
    font-size: 4vmin;
    font-weight: 800;
    margin-top: 1.25rem;
    text-align: center;
  }
}

@media (min-width: 87rem) {
  h1 {
    font-size: 60px;
    white-space: nowrap;
  }

  h2 {
    font-size: 32px;
  }

  .main-about .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
  }

  .secondary .container {
    margin-top: -50px;
  }

  .info {
    height: 700px;
  }

  .info .container {
    margin-top: 150px;
  }

  .headshot {
    margin-top: 50px;
    right: 0;
    left: 0;
  }

  .links {
    position: relative;
    right: 0;
    top: -140px;
  }

  .left-about {
    width: 300px;
    height: 500px;
    margin-left: 100px;
    margin-right: 200px;
  }
  .right-about {
    height: 500px;
    width: 1000px;
    margin-right: 150px;
  }

  .right-about p {
    font-size: 18px;
    order: 1;

    position: relative;
    top: -50px;
  }

  .CTA-button {
    padding-top: 0.7rem;
    order: 1;
  }

  .info-robot {
    top: -150px;
    left: -300px;
  }
}
