/* css for portfolio page */

/* General */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin: 0 20px 40px 20px;
}

.project-image {
  width: 200px;
  height: 100px;
}
/* TOP 3 projects */
.main-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.projectmain1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 20px 40px 20px;
}

.projectmain1 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 200px;
  background-color: rgba(251, 50, 48, 0.65);
  text-align: center;
  box-shadow: 0px 2px 5px black;
}

.projectmain1:nth-of-type(2) p {
  background-color: rgba(255, 255, 255, 0.85);
}

.projectmain1:nth-of-type(3) p {
  background-color: rgba(108, 179, 246, 0.65);
}

@media (min-width: 440px) {
  .projectmain1:nth-of-type(2) img {
    order: 1;
  }
}

/* Bottom projects */

.secondary-project {
  /* border: 5px solid goldenrod; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 2px 5px black;
}

.project:nth-of-type(1) p,
.project:nth-of-type(6) p {
  background-color: rgba(251, 50, 48, 0.65);
}
.project:nth-of-type(2) p,
.project:nth-of-type(5) p {
  background-color: rgba(255, 255, 255, 0.85);
}
.project:nth-of-type(3) p,
.project:nth-of-type(4) p {
  background-color: rgba(108, 179, 246, 0.65);
}
