/* css for portfolio page */

/* General */
h1 {
  font-size: 7vmin;
}
.hero {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.project-image {
  width: 200px;
  height: 100px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.description {
  display: none;
}

/* TOP 3 projects */
.main-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  width: 70vw;
}

.projectmain1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 20px 40px 20px;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 2px 5px black;
}

.project-link img {
  height: 30px;
  width: 30px;
  margin: 10px 20px 0px 20px;
}

.projectmain1:nth-of-type(1) .project-content {
  background-color: rgba(251, 50, 48, 0.65);
}
.projectmain1:nth-of-type(1) .project-content:hover {
  background-color: rgba(251, 50, 48, 0.85);
}

.projectmain1:nth-of-type(2) .project-content {
  background-color: rgba(255, 255, 255, 0.65);
}

.projectmain1:nth-of-type(2) .project-content:hover {
  background-color: rgba(255, 255, 255, 1);
}

.projectmain1:nth-of-type(3) .project-content {
  background-color: rgba(108, 179, 246, 0.65);
}

.projectmain1:nth-of-type(3) .project-content:hover {
  background-color: rgba(108, 179, 246, 0.85);
}

@media (min-width: 634px) {
  .projectmain1:nth-of-type(2) img {
    order: 1;
  }
}

/* Bottom projects */

.secondary-project {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.secondary-project .project {
  margin-left: auto;
  margin-right: auto;
}

.project .project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 2px 5px black;
}

.project:nth-of-type(1) .project-content,
.project:nth-of-type(6) .project-content {
  background-color: rgba(251, 50, 48, 0.65);
}

.project:nth-of-type(1) .project-content:hover,
.project:nth-of-type(6) .project-content:hover {
  background-color: rgba(251, 50, 48, 0.85);
}

.project:nth-of-type(2) .project-content,
.project:nth-of-type(5) .project-content {
  background-color: rgba(255, 255, 255, 0.65);
}

.project:nth-of-type(2) .project-content:hover,
.project:nth-of-type(5) .project-content:hover {
  background-color: rgba(255, 255, 255, 1);
}
.project:nth-of-type(3) .project-content,
.project:nth-of-type(4) .project-content {
  background-color: rgba(108, 179, 246, 0.65);
}

.project:nth-of-type(3) .project-content:hover,
.project:nth-of-type(4) .project-content:hover {
  background-color: rgba(108, 179, 246, 0.85);
}

/* Media Queries */

/*768px*/
@media (min-width: 48rem) {
  .secondary-project .project {
    flex-basis: 33.333333%;
  }
}

/*1024px*/
@media (min-width: 64rem) {
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .project .project-content {
    width: 300px;
    height: 100px;
  }
  .project-image {
    width: 300px;
    height: 186px;
  }
  .projectmain1 .project-image {
    width: 40%;
    height: 20vh;

    max-width: 600px;
    max-height: 255px;
  }

  .description {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .projectmain1 .project-content {
    width: 60%;
    height: 16vh;

    max-width: 830px;
    max-height: 200px;
  }
}

@media (min-width: 87rem) {
  .projectmain1:nth-of-type(1) .project-content,
  .projectmain1:nth-of-type(3) .project-content {
    position: relative;
    left: -40px;
  }
  .projectmain1:nth-of-type(2) .project-content {
    position: relative;
    right: -40px;
  }

  .projectmain1:nth-of-type(2) {
    margin-left: 0;
    margin-right: 60px;
  }
}
